.form-inline
  .form-group
    label(for="todo") To do
    input.form-control(type="text" name="todo" ng-model="$ctrl.newTodo")
  button.btn.btn-default(ng-click="$ctrl.addTodo($ctrl.newTodo)") Add Todo
