p This is my todo list!!

.form-group
  input(type="text" name="filter" ng-model="vm.filterTodo")

p {{ vm.todoLength }} items in the list
ul
  li(ng-repeat="todo in vm.todoList | filter:vm.filterTodo track by $index")
    a(href="#/todo/{{todo.id}}")
      {{ todo.title }}
    |: {{ todo.createdAt | date }}

.form-group
  input(type="text" name="newTodo" ng-model="vm.newTodo")
  button(class="btn btn-default" ng-click="vm.addTodo(vm.newTodo)") Add!
