extends ./layout.jade

block body
  h1 Hello world!
  div(ng-controller="TodoController as otherVm")
    p
      | The number of todo items is: {{ otherVm.todoList.length }}
  div
    p
      | This is coming from the 
      code public/index.html
      | file

    div(ng-view)
