extends ./layout.jade

block body
  h1 Hello world!
  div(ng-controller="TodoController as otherVm")
    p
      | The number of todo items is: {{ otherVm.todoList.length }}
  div(ng-controller="TodoController as vm")
    p
      | This is coming from the 
      code public/index.html
      | file
    ul
      li(ng-repeat="todo in vm.todoList") {{ todo }}

    .form-group
      label(for="todo") To do
      input.form-control(type="text" name="todo" ng-model="vm.newTodo")
      input.form-control(type="text" name="otherField")
    button.btn.btn-default(ng-click="vm.addTodo(vm.newTodo)") Add Todo
