html
  head
    include ./includes/bootstrap.jade
    script(src="/jspm_packages/system.js")
    script(src="/config.js")
    script System.import('app-angular');
    block title
      title Hello world!

  body
    .container
      .well
        block body
